<div class="bs-component">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/api">Bitter Twitt</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/api/user">Lista użytkowników</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/api/user/registration">Rejestracja Użytkownika</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>